{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

<div class="container legal-text px-4">

    <h1 class="pb-2 mt-3 text-center text-md-left">  Modes de <span>Paiement et livraison</span></h1>

    <div class="col-xs-12 col-sm-12 d-flex justify-content-center px-0 justify-content-sm-start">                                    
        <div class="separator_gallery mx-0"></div>
    </div>

    
    <div class="text">

        <h3 id="pay">Modes de paiement</h3>
        <hr>
        <p> Les possibilités de paiement ci-dessous dépendent du pays dans lequel la commande a été effectuée et du montant de la facture.
            
            <li><strong>Carte de crédit:</strong>  Votre carte de crédit sera automatiquement débitée par le biais de notre prestataire de services financiers ADYEN. 
            L'exécution de la commande peut commencer dès que les données ont été vérifiées.</li><br>
            <li><strong> PayPal:</strong> Grâce à PayPal, un service de paiement en ligne gratuit, vous pouvez payer rapidement et simplement. Lors de l’inscription à PayPal, 
            vous enregistrez une fois vos coordonnées bancaires, elles seront alors sauvegardées pour les transactions à venir et vous pourrez payer en toute
            tranquillité et simplicité. Vos coordonnées bancaires ou vos informations de carte de crédit ne nous seront en aucun cas communiquées. 
            De plus, un paiement par PayPal nous permet d’exécuter votre commande immédiatement. Pour plus d’informations, visitez le site de PayPal.</li>
            Le paiement sur facture n’est actuellement pas possible sur Spreadshirt.</p>



        <h3>Modes de livraison</h3>
        <hr>


        <h3 id="satisf">Garantie Satisfaction</h3>
        <hr>
            <h4>Trop petit ? Trop grand ?<br>
            Echange sous 30 jours</h4> <br>

            <p>Tous les articles commandés sur DEV my Shirts ou dans une boutique partenaire sont imprimés à la demande et à la main. 
            Cela nous différencie des sites de vente en ligne classiques, et par conséquent, nous ne pouvons pas simplement remettre en vente les articles échangés et retournés. 
            Nous souhaitons toutefois que vous soyez entièrement satisfait(e) de votre commande.</p> 
            <p>C’est pour cela qu’indépendamment de votre motif de réclamation, vous pouvez faire valoir notre <strong> Droit d’échange sous 30 jours </strong>.</p>
            <p>Que l’article ne soit pas à votre taille ou ne vous plaise pas, nous échangeons votre marchandise sous 30 jours à compter de la date de commande. <br>
                Plusieurs options sont à votre disposition :</p> 
            
            <li> un échange dans une autre taille, couleur, etc </li> 
            <li> un échange contre un avoir à valoir sur votre prochaine commande </li> <br>

            <p>Connectez-vous à votre compte DEV my Shirts et faites une demande de réclamation dans l’aperçu de la commande ou utilisez le lien envoyé dans l’e-mail 
            de confirmation de commande.</p> 
            
            <p>Nous pouvons vous rembourser le prix d’achat uniquement si vous n’avez pas personnalisé l’article commandé. 
            Vous devez impérativement faire une demande de réclamation préalable pour que nous puissions traiter votre renvoi.</p>

    </div>
</div>    

{% endblock %}
