.show_tshirt{
    height: 550px;

    .tshirt-visuel-home{
        height: 550px;
        min-height: 443px;
    }
    
    .min_logo{
        height: 200px;
        width: 150px;
        border-top: 5px white solid;
        border-left: 5px white solid;
        bottom: 0;
        right: 0;
    }
}

.price {
    .ttc {
        color:$ocean;
        font-size: 2rem;
        padding-left: 10px;
    }
}

.big-encart{
    padding-left: 30px;
    padding-bottom: 30px;
}

.color_facebook{
    color:#3b5998;
}

.see_tshirt{
    height: 450px;
    border: white solid 5px;
}

.color_div1{
    width: 40px;
    height: 40px;
    background-color: #DCDCE6;
}
.color_div2{
    width: 40px;
    height: 40px;
    background-color: #347DA6;
}
.color_div3{
    width: 40px;
    height: 40px;
    background-color: #454547;
}
.color_div4{
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0);
}
.color_div5{
    width: 40px;
    height: 40px;
    background-color: #D55E34;
}
.color_div6{
    width: 40px;
    height: 40px;
    background-color: #658844;
}
