
###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

\.vscode/settings\.json


/.sass-cache
.sass-cache
.sass-cache/
*.scssc
*.css.map
styles/.sass-cache/
public/assets/style/.sasscache/
public/assets/style/*.style.min.css.map